<header id="top-nav">
  <div id="brand">Lil' Twitter API</div>
  <form id="search-form">
    <input id="search" type="text" name="query">
  </form>
  <i class="fa fa-search"></i>
</header>
<section class="container">
  <section id="tweet-box">
    <p id="tweet-box-title">Compose New Tweet</p>
    <form id="tweet-form">
      <textarea id="new-tweet" cols="30" rows="5" maxlength="140" name="tweet"></textarea>
      <input type="submit" value="Tweet">
    </form>
  </section>
  <section id="trends-container">
    <h3>Trends</h3>
    <ul id="top-hash-tags">

    </ul>
  </section>



  <section id="tweets-container">
    <h3>Tweets</h3>
    <ul id="tweets">

    </ul>
  </section>
</section>

<script id="hash-tag-template" type="text/x-handlebars-template">
  {{#each tags}}
    <li>{{tag}}</li>
  {{/each}}
</script>


<script id="tweet-template" type="text/x-handlebars-template">
  <li class="tweet">
    <img class="avatar" src="{{avatar_url}}" alt="Avatar">
    <div class="tweet-content">
      <p>
        <span class="full-name">{{username}}</span>
        <span class="username">{{handler}}</span>
        <span class="timestamp">- {{timestamp}}</span>
      </p>
      <p>{{content}}</p>

      <section id="tags">
      <ul>
      {{#each hashtag_names}}
        <li>#{{this}}</li>
      {{/each}}
      </ul>

      </section>

    </div>
  </li>
</script>

<script id="tweet-river" type="text/x-handlebars-template">
  {{#each tweets}}
    {{> singleTweet}}
  {{/each}}
</script>

